include src/tiberium_soul/repos/readme.md
include src/tiberium_soul/suns/readme.md
include src/tiberium_soul/tmp/readme.md
recursive-include src/tiberium_soul/cert *
recursive-include src/tiberium_soul/global *
recursive-include src/tiberium_soul/hooks *
recursive-include src/tiberium_soul/static/css *
recursive-include src/tiberium_soul/static/images *
recursive-include src/tiberium_soul/static/js *
recursive-include src/tiberium_soul/templates *.tpl
recursive-include src/tiberium_soul/templates/app *.tpl
recursive-include src/tiberium_soul/templates/partials *.tpl
