include src/apps/README.md
include src/repos/README.md
include src/suns/README.md
recursive-include src/global *
recursive-include src/hooks *
recursive-include src/static *
recursive-include src/templates *
